body{
    background-color: #2B3035;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

.photo-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
  }

.photo-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.photo-label {
    cursor: pointer;
    color: #ffffff;
  }

input[type="file"] {
    display: none;
  }
